altgraph==0.17.2
astroid==2.11.1
colorama==0.4.4
dill==0.3.4
future==0.18.3
gitdb==4.0.9
GitPython==3.1.37
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
pefile==2021.9.3
platformdirs==2.5.1
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
pylint==2.13.0
pypiwin32==223
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQt5-stubs==5.15.2.0
pywin32==303
pywin32-ctypes==0.2.0
six==1.16.0
smmap==5.0.0
toml==0.10.2
tomli==2.0.1
typed-ast==1.5.2
wrapt==1.14.0
